*,body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.box1{
  width: 100%;
  height: 100px;
  background-color:#222222;
  display: flex;
}
.p1 a{
    color: white;
    text-decoration: none;
}










